<%- include('partials/_header') -%>

<body>

  <!-- Navigation -->
  <%- include('partials/_navigation') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= post.title%></h1>
            <h2 class="subheading"><%= post.subtitle%></h2>
            <span class="meta">            
              <a href="#">Start Bootstrap</a>
              on <%=moment(new Date(post.dateCreated)).format('MMMM Do YYYY, HH:mm'); %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>
            <%= post.detail%>
          </p>
        </div>
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="row">
            <div class="col-sm-4 ">
              <a href="/posts/edit/<%= post._id %>" class="btn btn-outline-warning btn-lg" style="display: block;">UPDATE</a>
            </div>
            <div class="col-sm-4 "> <br> </div>
            <div class="col-sm-4 ">
              <a href="/posts/<%= post._id%>?_method=DELETE" onclick="return confirm('Are you sure?')" class="btn btn-outline-danger btn-lg" style="display: block;">DELETE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  

  <div class="container">
    
    
  </div>

  <hr>

  <!-- Footer -->
  <%- include('partials/_footer.ejs') -%>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/js/clean-blog.min.js"></script>

</body>

</html>
