<%- include('partials/_header') -%>

<body>

  <!-- Navigation -->
  <%- include('partials/_navigation') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= post.title%></h1>
            <h2 class="subheading"><%= post.subtitle%></h2>
            <span class="meta">
              <% let date = new Date(post.dateCreated);%>

              <% let year =  ((date.getFullYear()<10) ? `0${date.getFullYear()}`:`${date.getFullYear()}`); %>
                
              <% let month = ((date.getMonth()<10) ? `0${date.getMonth()}`:`${date.getMonth()}`); %>
              <% let day = ((date.getDate()<10) ? `0${date.getDate()}`:`${date.getDate()}`); %>
              <% let hour = ((date.getHours()<10) ? `0${date.getHours()}`:`${date.getHours()}`); %>
              <% let min = ((date.getMinutes()<10) ? `0${date.getMinutes()}`:`${date.getMinutes()}`); %>
            
              <a href="#">Start Bootstrap</a>
              on <%= `${day}-${month}-${year}`%> at <%= `${hour}:${min}`%>
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>
            <%= post.detail%>
          </p>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <!-- Footer -->
  <%- include('partials/_footer.ejs') -%>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/js/clean-blog.min.js"></script>

</body>

</html>
